html,
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
:root{
    --main-color:black;
}
.app{
    // .scrollBtn{
    //     position: fixed;
    //     top: 50%;
    //     z-index: 99;
    // }
}
