.sidebar{
    flex: 1;
    height: calc(100vh - 60px);
    position: sticky;
    // top: 40px;
    max-width: 270px;
    .sidebarWrapper{
        padding: 20px;
        color: grey;
        .sidebarMenu{
            margin-bottom: 10px;
            .sidebarTitle{
                font-size: 12px;
            }
            .sidebarItems{
                list-style: none;
                padding: 5px;
                .sidebarItem{
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    padding: 5px;
                    border-radius: 10px;
                    &:hover,&.active{
                       background-color: rgba(255, 0, 0, 0.151);   
                    }
                }
            }
        }

    }

}