.topbar{
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 99;
    .topbarWrapper{
        height: 100%;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .topLeft{
            .logo{
                font-weight: bold;
                font-size: 30px;
                color:var(--main-color);
                cursor: pointer;
            }
        }
        .topRight{
            display: flex;
            align-items: center;
            justify-content: center;
            .iconContainer{
                position: relative;
                margin-right: 10px;
                cursor: pointer;
                .IconBagde{
                    position: absolute;
                    top: -5px;
                    right: -3px;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background:rgb(229, 9, 20);
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                }
            }
            .avatar{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
            }
            .profile{
                position: relative;
                .options{
                    display: none;
                    span{
                        padding: 10px;
                        border: 1px solid var(--main-color);
                        cursor: pointer;
                        &:hover{
                            background-color: #000;

                        }
                    }
                }

            }  &:hover{
                    .options{   
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        right: 0;
                        background-color: white;
                        color: var(--main-color);            
                }  
              }
        }
    }
}