.navbar{
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: linear-gradient(to top,transparent 0%,rgb(0, 0, 0,0.3) 50%);
   &.scrolled{
    background:var(--main-color);
   }
    .container{
        padding: 0 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        .left{
            display: flex;
            align-items: center;
            gap: 20px;
            img{
                height: 45px;
            }
            span{
                cursor: pointer;
            }
        }
        .right{
            display: flex;
            align-items: center;
            gap: 10px;

            .faMenu{
                width: 20px;
                height: 20px;
            }
       

            .profile{
                .options{
                    display: none;
                }
                .icon:hover {
                    cursor: pointer;
                     transition: transform 0.5s ease-in-out; 
                     transform: rotate(180deg); 
                    }&:hover{
                        .options{
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            background-color: var(--main-color);
                            border-radius: 5px;
                        }
                        span{
                            padding: 10px;
                            cursor: pointer;
                        }
                       
                    }
            }
        }
        }

    }
